/*
!src/
!test/
!.github/
!.vscode/
!.editorconfig
!.eslintignore
!.eslintrc
!.gitattributes
!.gitignore
!.npmignore
!.npmrc
!.prettierignore
!.prettierrc
!AUTHORS.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!CONTRIBUTORS.md
!grid-neighbors.png
!LICENSE
!package-lock.json
!package.json
!pull_request_template.md
!README.md
!SECURITY.md
!SUPPORT.md
!tsconfig.json
